<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToDoApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A1E2C532C20325900B0EEFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A1E2C632C20325B00B0EEFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A1E2C6D2C20325B00B0EEFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
